@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: hsl(328, 100%, calc(var(--lightness, 50) * 1%));
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 25vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 40vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 35vh;
}

.text {
  padding: 2em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

.content {
	min-height: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	z-index: 0;
}
.content h1 {
	padding: 75px 0 30px 0;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}
.content .buttons {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.content .buttons .button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: #efefef;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	color: #333;
	font-weight: bold;
}
.content .buttons .button:hover {
	color: #fff;
	background: #009bd5;
}

/* modal style */
html.modal-active,
body.modal-active {
	overflow: hidden;
}
#modal-container {
	position: fixed;
	left: 0;
	top: 0;
	display: table;
	height: 100%;
	width: 100%;
	z-index: 1;
	/* hidden 처리 */
	transform: scale(0);
}
#modal-container .modal-background {
	display: table-cell;
	background: rgba(255, 253, 255, 0.8);
	text-align: left;
	vertical-align: middle;
}
#modal-container .modal-background .modal {
	position: absolute;
	top: 15%;
	left: 20%;
	 /* Tambahkan untuk mengatur posisi tengah */
	background: #fdfdfd;
	border-radius: 10px;
	height: 70vh;
	width: 60vw;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
	padding-left: 50px;
	padding-right: 50px;
}
#modal-container .modal-background .modal p {
	font-size: 18px;
	line-height: 22px;
	padding-left: 50px;
	padding-right: 50px;
}
/* Media query untuk tampilan mobile */
@media (max-width: 768px) {
  #modal-container .modal-background .modal {
    top: 10%;
    left: 5%;
    width: 90vw;
  }

  #modal-container .modal-background .modal h2 {
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #modal-container .modal-background .modal p {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/*
 * ------------------------------
 * Unfolding Animation
 * ------------------------------
 */
#modal-container.one {
	/*transform: scaleX(0) scaleY(1);*/
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
	/* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
	transform: scale(0);
	/* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
	animation: zoomIn .5s .8s  cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Dimmed showing */
@keyframes unfoldIn {
	0% {
		transform: scaleX(0) scaleY(0.005);
	}
	50% {
		/* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대  */
		transform: scaleX(1) scaleY(0.005);
	}
	100% {
		/* 0.5 초간 세로 크기를 확대 */
		transform: scaleY(1) scaleX(1);
	}
}
/* Show modal content  */
@keyframes zoomIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
/* Hide modal content */
@keyframes zoomOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
/* Dimmed hiding */
@keyframes unfoldOut {
	0% {
		transform: scale(1)
	}
	50% {
		transform: scaleX(1) scaleY(0.005);
	}
	100% {
		transform: scaleX(0) scaleY(0.005);
	}
}